

// primary: #eb2f64
// primary-light: #ff3366
// primary-dark: #BA265D

:root {
    --clp: #eb2f64;
    --clp-light: #ff3366;
    --clp-dark: #BA265D;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

    --line: 1px solid var(--grey-light-2);

    --shadow-light: 0 2rem 5rem rgba(0,0,0,0.07);


}

$largest: 75em; // 75 = 1200px
$large: 68.75em; // 75 = 1200px
$medium: 56.25em; // 56.25 = 900px
$small: 37.5em; // 37.5 = 600px
$v-small: 31.25em; // 31.25 = 500px



*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @media only screen and (max-width: $large ) {
        font-size: 50%;
    }
}

body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.6;
   color: var(--grey-dark-2);
   background-image: linear-gradient(to right bottom, var(--clp-light), var(--clp-dark));
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;

}

